In [12]:
import pandas as pd
waste_df = pd.read_csv('Data Sets/Household-Waste.csv')
waste_df

,Local Authority,Generated (tonnes),Recycled (tonnes),Percentage Recycled (%),Other diversion from landfill* (tonnes),Percentage Other diversion from Landfill (%),Landfilled (tonnes),Percentage Landfilled (%),Carbon Impact (TCO2e),Percentage Recycled (%).1
0,Aberdeen City,"84,643","42,230",49.9,"27,407",32.4,"15,005",17.7,"180,260",47.3
1,Aberdeenshire,"122,830","54,018",44.0,"2,618",2.1,"66,195",53.9,"310,947",43.4
2,Angus,"52,541","31,058",59.1,"18,782",35.7,"2,702",5.1,"100,813",54.7
3,Argyll and Bute,"46,901","18,101",38.6,"6,975",14.9,"21,825",46.5,"117,899",37.8
4,City of Edinburgh,"192,070","74,177",38.6,"109,305",56.9,"8,587",4.5,"471,188",38.8
5,Clackmannanshire,"25,473","14,125",55.4,7,0.0,"11,342",44.5,"53,323",56.3
6,Dumfries and Galloway,"76,786","22,672",29.5,"34,467",44.9,"19,647",25.6,"209,440",27.4
7,Dundee City,"65,259","25,074",38.4,"35,664",54.7,"4,521",6.9,"149,839",35.8
8,East Ayrshire,"55,097","29,300",53.2,"4,705",8.5,"21,092",38.3,"119,102",51.8
9,East Dunbartonshire,"52,692","29,145",55.3,"13,258",25.2,"10,290",19.5,"110,998",54.6
10,East Lothian,"49,979","27,644",55.3,"14,664",29.3,"7,672",15.4,"106,233",53.1
11,East Renfrewshire,"48,609","32,953",67.8,"1,103",2.3,"14,561",30.0,"94,538",66.2
12,Falkirk,"70,032","37,134",53.0,"2,233",3.2,"30,665",43.8,"153,946",50.8
13,Fife,"174,977","77,856",44.5,"18,847",10.8,"78,275",44.7,"387,425",51.1
14,Glasgow City,"252,148","62,201",24.7,"66,481",26.4,"123,466",49.0,"744,090",24.6
15,Highland,"124,689","51,442",41.3,"9,391",7.5,"63,857",51.2,"297,898",42.7
16,Inverclyde,"27,698","14,944",54.0,"1,771",6.4,"10,984",39.7,"58,006",56.0
17,Midlothian,"40,610","20,643",50.8,"15,600",38.4,"4,367",10.8,"91,551",58.2
18,Moray,"47,186","27,829",59.0,0,0.0,"19,357",41.0,"87,796",57.4
19,Na h-Eileanan Siar,"13,710","2,817",20.5,"1,892",13.8,"9,001",65.7,"36,485",23.1
20,North Ayrshire,"60,322","33,988",56.3,"10,028",16.6,"16,307",27.0,"132,847",54.6
21,North Lanarkshire,"149,977","60,462",40.3,"57,764",38.5,"31,751",21.2,"361,416",43.7
22,Orkney Islands†,"10,428","1,962",18.8,"5,217",50.0,"2,676",25.7,"26,999",21.1
23,Perth and Kinross,"74,293","39,172",52.7,"4,275",5.8,"30,845",41.5,"141,893",51.7
24,Renfrewshire,"81,461","43,211",53.0,"24,764",30.4,"13,467",16.5,"180,557",49.2
25,Scottish Borders,"52,300","25,718",49.2,"11,517",22.0,"15,064",28.8,"123,166",38.8
26,Shetland Islands,"9,648","1,653",17.1,"6,084",63.1,"1,912",19.8,"29,253",10.5
27,South Ayrshire,"52,639","30,351",57.7,"5,169",9.8,"17,120",32.5,"108,980",52.6
28,South Lanarkshire,"146,941","68,135",46.4,"41,761",28.4,"37,044",25.2,"337,048",44.3
29,Stirling,"42,504","23,292",54.8,179,0.4,"19,034",44.8,"87,065",54.1
30,West Dunbartonshire,"39,905","17,871",44.8,"4,040",10.1,"17,994",45.1,"95,008",43.5
31,West Lothian,"77,444","45,095",58.2,"20,831",26.9,"11,518",14.9,"158,982",65.2
32,Total Scotland,"2,421,790","1,086,275",44.9,"576,795",23.8,"758,141",31.3,"5,664,990",44.7

In [24]:
Local_Waste=waste_df[['Local Authority','Carbon Impact (TCO2e)']]
Local_Waste

          Local Authority Carbon Impact (TCO2e)
0           Aberdeen City               180,260
1           Aberdeenshire               310,947
2                   Angus               100,813
3         Argyll and Bute               117,899
4       City of Edinburgh               471,188
5        Clackmannanshire                53,323
6   Dumfries and Galloway               209,440
7             Dundee City               149,839
8           East Ayrshire               119,102
9     East Dunbartonshire               110,998
10           East Lothian               106,233
11      East Renfrewshire                94,538
12                Falkirk               153,946
13                   Fife               387,425
14           Glasgow City               744,090
15               Highland               297,898
16             Inverclyde                58,006
17             Midlothian                91,551
18                  Moray                87,796
19     Na h-Eileanan Siar                36,485
20         North Ayrshire               132,847
21      North Lanarkshire               361,416
22        Orkney Islands†                26,999
23      Perth and Kinross               141,893
24           Renfrewshire               180,557
25       Scottish Borders               123,166
26       Shetland Islands                29,253
27         South Ayrshire               108,980
28      South Lanarkshire               337,048
29               Stirling                87,065
30    West Dunbartonshire                95,008
31           West Lothian               158,982
32         Total Scotland             5,664,990

In [33]:
Local_Waste['Carbon Impact (TCO2e)'] = int

TypeError: cannot convert the series to <class 'int'>

In [41]:
Local_Waste['Carbon Impact (TCO2e)'] = int(Local_Waste['Carbon Impact (TCO2e)'])
Local_Waste

TypeError: cannot convert the series to <class 'int'>